# Основные зависимости
aiogram==3.18.0
pyTelegramBotAPI==4.15.4
python-dotenv==1.0.1

# Зависимости для aiogram
aiofiles==24.1.0
aiohttp==3.11.13
aiosignal==1.3.2
aiohappyeyeballs==2.6.1
attrs==25.3.0
certifi==2025.1.31
frozenlist==1.5.0
idna==3.10
magic-filter==1.0.12
multidict==6.1.0
pydantic==2.10.6
pydantic_core==2.27.2
typing_extensions==4.12.2
yarl==1.18.3

# Зависимости для pyTelegramBotAPI
requests>=2.32.3
